.faceExpressionImg{
    transition: opacity 1s ease-in;
    width: 90%;
    height: 88vh;
    object-fit: cover;
    opacity: 0;
    animation: imageFadeIn 2s ease-in-out;
}

@keyframes imageFadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

.faceExpressionImgOut{
    width: 90%;
    height: 88vh;
    object-fit: cover;
    animation: imageFadeOut 2s ease-in-out;
    opacity: 1;
}

@keyframes imageFadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

@media(max-width: 500px){
    .faceExpressionImgOut,
    .faceExpressionImg{
        height: 80vh;
        padding: 0px;
    }
}

@media(max-width: 1024px){
    .faceExpressionImgOut,
    .faceExpressionImg{
        height: 75vh;
    }
}