.faceExpressionImg{
    transition: opacity 1s ease-in;
    width: 90%;
    height: 88vh;
    object-fit: cover;
    opacity: 0;
    animation: imageFadeInAndOut 4s ease-in-out infinite;
}

@keyframes imageFadeInAndOut{
    0%{opacity: 0;}
    25%{opacity: 0.5}
    50% {opacity: 1}
    75%{opacity: .75}
    100%{opacity: 0}
    
}


@media(max-width: 500px){
    .faceExpressionImgOut,
    .faceExpressionImg{
        height: 80vh;
        padding: 0px;
    }
}

@media(max-width: 1024px){
    .faceExpressionImgOut,
    .faceExpressionImg{
        height: 75vh;
    }
}