.footer{
    padding-top: 11px;
    bottom: 0;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    color: rgba(0,0,0,0.4);
    
}

@media(max-width: 880px){
    .footer{
        margin-bottom: 30px;
    }
}